<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ukhyun. It uses data from mapbox. and weather....</p>
        <img src="./img/image.jpg" alt="Building Image" class='portrait'>
    </div>
    {{>footer}}
</body>
</html>

